*{
    margin: 0;
    padding: 0;
}

.container{
    width: 730px;
    height: 570px;
    background-color: silver;
}

.nav{
    height: 45px;
    width: 729px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

h1{
    margin-left: 90px;
    font-family: Calibri;
}

.nav-links{
    margin: 1px;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    text-decoration: none;
    margin-left: 45px;
}

.nav-links > Li > a{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: rgb(55,142,160);
    color: white;
    margin-left: 10px;
}

/* Left Column */

.user-card {
    width: 39%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    margin-left: 88px;
    margin-top: 23px
}

.card-header {
    background-color: #17a2b8;
    height: 70px;
    margin-bottom: 5px;
}

.card-body {
    padding: 20px;
}

.card-body h1{
    margin: 20px 0px;
    font-size: 30px;
}

.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
    font-size: 15px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 70px;
    padding: 5px;
    margin-top: 32px;
    margin-left: 24px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}